.footer {
  border-top: 3px solid #ecd648;
  padding-bottom: 25px;
}
.footer__body {
  padding: 20px 30px;
  display: flex;
  align-items: flex-start;
}
.footer__box {
  margin: 0 60px 0 0;
  flex-shrink: 0;
}
.footer__text {
  font-size: 16px;
  font-weight: 300;
}
.footer__link {
  display: block;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}
.footer__link:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #f2cc2f;
  text-decoration-color: #f2cc2f;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: center;
  flex-grow: 1;
}
.footer__social_icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 0 20px 0 0;
  transition: 0.4s;
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__social_icon:last-child {
  margin: 0;
}
.footer__social_icon-fb {
  background-image: url("/images/icons/icon_fb_yellow.svg");
}
.footer__social_icon-fb:hover {
  background-image: url("/images/icons/icon_fb_grey.svg");
}
.footer__social_icon-inst {
  background-image: url("/images/icons/icon_inst_yellow.svg");
}
.footer__social_icon-inst:hover {
  background-image: url("/images/icons/icon_inst_grey.svg");
}
.footer__social_icon-telegram {
  background-image: url("/images/icons/icon_telegram_yellow.svg");
}
.footer__social_icon-telegram:hover {
  background-image: url("/images/icons/icon_telegram.svg");
}
.footer__social_icon-wa {
  background-image: url("/images/icons/icon_wa_yellow.svg");
}
.footer__social_icon-wa:hover {
  background-image: url("/images/icons/icon_wa_grey.svg");
}
.footer__abkr img {
  max-width: 115px;
}
@media screen and (max-width: 1500px) {
  .footer__body {
    padding: 20px;
  }
  .footer__box {
    margin: 0 40px 0 0;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__social_icon {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 0;
  }
}
@media screen and (max-width: 1000px) {
  .footer__body {
    padding: 15px;
  }
  .footer__box {
    margin: 0 30px 0 0;
  }
  .footer__text {
    font-size: 16px;
  }
  .footer__link {
    font-size: 16px;
  }
  .footer__social_icon {
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 750px) {
  .footer__body {
    padding: 10px;
    flex-wrap: wrap;
    padding-bottom: 80px;
  }
  
  .footer__social {
    justify-content: space-around;
  }
  .footer__social_icon {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  .footer__box {
    margin-bottom: 15px;
  }
}
