// colors
color_1 = #000000
color_2 = #ffffff
color_3 = #F2CC2F
color_4 = #5B5A56
color_5 = #ECD648
color_6 = #939393
color_7 = #DFDFDF
//
tDelay = 0.4s
// 
// 
// 
// убрать выделение текста
withoutHighlighting()
	-webkit-touch-callout: none 
	-webkit-user-select: none 
	-khtml-user-select: none
	-moz-user-select: none 
	-ms-user-select: none 
	user-select: none 
