@import './props.styl'
//
//
//
.box
    height 90vh
    display: flex
    align-items: center
    justify-content: center
    //
.form
    width: 100%
    max-width 600px
    background: color_2
    padding: 100px 50px 50px 50px
    //
    &__row
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 0 30px 0
        position relative
        //
        &:last-child
            margin: 0
    //
    &__input
        display: block
        width: 100%
        outline: none;
        border: 1px solid color_6
        padding: 10px
        font-size: 20px
        transition: tDelay
        //
        &-wrong
            border-color: #ff0000
    //
    &__submit
        display: block
        padding: 10px 20px
        font-size: 20px
        text-transform: uppercase
        background: color_3
        cursor pointer
        color: color_1
        border: 0
        outline: none
    //
//
//
//
@media screen and (max-width: 750px)
    .form
        padding: 50px 20px 20px 20px
        //
        &__row
            margin: 0 0 20px 0
            flex-direction: column
        //
        &__input
            padding: 5px
            font-size: 16px
        //
        &__submit
            font-size: 16px
            text-align: center
            margin: 0 0 20px 0
            width: 100%